.card-title {
    background: transparent;
    color: #108ee9;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color .3s ease;
}

.card-price {
    color: #f57224;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}

.card-img-top {
    height: 15rem;
}

.card-btn {
    cursor: pointer;
}
/* .card1-parent :hover{
  
    box-shadow: 1px 1px 1px 1px lightsteelblue;
    
     
} */
.img {
    /* width: auto; */
    width: 200px;
    height: 90px;
}
.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-row {
    display: flex;
    flex-direction: row;
    
}

.quantity-div {
    margin-left: 3rem;
    margin-top: -1rem;
}

.quantity {
    color: grey;
    opacity: .8;
}

.con {
    max-width: 1380px;
    margin: auto;
}

#totalBillHeading {
    text-align: right;
    
   
}



@media only screen and (max-width : 1200px)  {
    .card1-parent {
        margin-bottom: 2rem;
    }
            
}